<!DOCTYPE html>
<html>
<head>
    <title>PHP tools</title>
    <meta charset="utf-8"/>
    <meta name="keywords" content="精选工具, php在线工具, google镜像, 谷歌镜像, 在线时间戳转换, 在线解码, Json验证"/>
    <meta name="description" content="一款简洁优雅的在线PHP工具"/>
    <link href="css/hint.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/diffview.css" rel="stylesheet">
    <link href="css/pure-min.css" rel="stylesheet">
    <link href="css/quick-layout.css" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/json-backup.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/helper.js"></script>
</head>
<body>
<div id="app">
    <div class="side-top">
        <a class="logo" href="/">
            <!--<span class="on">PHP</span><span>tools</span>-->
            <span class="on">工具精选</span><span></span>
        </a>
        <span class="slogan">
          「工具在精不在多」
        </span>
    </div>
        <!--<div class="top-right">-->
            <!--<a href="https://github.com/bimohxh/jsonon" target="_blank">-->
            <!--GitHub-->
            <!--&lt;!&ndash;<svg class="icon">-->
            <!--<use xlink:href="svg/icon.svg#github"></use>-->
            <!--<form class="pure-form">-->

                <!--<div :class="'side-left side-view-' + baseview">-->
    <div class="left-panel">

        <div class="pure-g">
            <p class="label-p"> Google镜像:</p>
        </div>
        <div class="pure-g">
            <!--<input class="pure-input-1" type="text" v-model="search" v-on:keyup="searchKeyup"/>-->
            <!--<button v-on:click="searchGo" class="button-secondary pure-button">GO</button>-->
            <a class="db ml10 f16 bg-red2 p5" v-show="show_mirror1" v-bind="{href: href_mirror1}" class="button-secondary pure-button">镜像1</a>
            <a class="db ml10 f16 bg-red2 p5" v-show="show_mirror2" v-bind="{href: href_mirror2}" class="button-secondary pure-button">镜像2</a>
            <a class="db ml10 f16 bg-red2 p5" v-if="show_mirror3" v-bind="{href: href_mirror3}" class="button-secondary pure-button">镜像3</a>
            <a class="db ml10 f16 bg-red2 p5" v-if="show_mirror4" v-bind="{href: href_mirror4}" class="button-secondary pure-button">镜像4</a>
            <a class="db ml10 f16 bg-red2 p5" v-if="show_mirror5" v-bind="{href: href_mirror5}" class="button-secondary pure-button">镜像5</a>

        </div>


        <div class="pure-g">
            <p class="label-p"> 时间戳转换北京时间:</p>
        </div>
        <div class="pure-g">
            <input class="pure-input-1" type="text" v-bind:class="{grey: noActive}"
                   v-on:focus="active" v-on:blur="noactive" v-on:click="showDatetimeInHuman" v-model="timestamp"/>
            <div class="pure-u-1-5">
                <input  type="radio" name="isms" value="0" v-model="isms" />秒
                <input  type="radio" name="isms" value="1" v-model="isms" />毫秒
            </div>
        </div>

        <div class="pure-g">
            <p class="label-p"> 北京时间转换时间戳:</p>
        </div>
        <div class="pure-g">
            <input class="pure-input-1" type="text" v-bind:class="{grey: noActive}" v-on:focus="active" v-on:blur="noactive"
                   v-on:click="showDatetime" v-model="timestamp_human"/>
            <div class="pure-u-1-5">
                <input type="radio" name="isms2" value="0" v-model="isms2"><span>秒</span>
                <input type="radio" name="isms2" value="1" v-model="isms2"><span>毫秒</span>
            </div>
        </div>


        <div class="pure-g">
            <p class="label-p"> json验证:</p>
        </div>
        <div class="pure-g">
            <div class="pure-u-4-5">
                <textarea class="pure-input-2" v-model="jsoncon"></textarea>
            </div>
        </div>


        <div class="pure-g">
            <p class="label-p"> 解码:</p>
        </div>
        <div class="pure-g">
            <div class="pure-u-4-5">
                <textarea class="pure-input-2" v-model="encrypt"></textarea>
            </div>
        </div>


        <div class="pure-g">
            <p class="label-p"> curl命令转php代码:</p>
        </div>
        <div class="pure-g">
            <div class="pure-u-4-5">
                <textarea class="pure-input-2" v-model="curltophp"></textarea>
            </div>
        </div>

        <div class="pure-g">
            <p class="label-p"> 其他工具:</p>
        </div>
        <div class="pure-g">
            <!--<input class="pure-input-1" type="text" v-model="search" v-on:keyup="searchKeyup"/>-->
            <!--<button v-on:click="searchGo" class="button-secondary pure-button">GO</button>-->
            <a class="db ml10 f16 bg-black p5" href="http://www.gidot.net/typesetter/online.html" class="button-secondary pure-button">排版</a>
            <a class="db ml10 f16 bg-black p5" href="https://www.diffchecker.com/diff" class="button-secondary pure-button">diff查看</a>

        </div>

        <!--<div>-->
        <!--<label>代码生成:</label>-->
        <!--<br>-->
        <!--<button class="button-secondary pure-button" v-on:click="showCodeMysqli">mysqli</button>-->
        <!--<button class="button-secondary pure-button" v-on:click="showCodeCurlGet">curl-get</button>-->
        <!--<button class="button-secondary pure-button" v-on:click="showCodeCurlPost">curl-post</button>-->
        <!--<button class="button-secondary pure-button" v-on:click="showCodeCurlFile">curl-file</button>-->
        <!--</div>-->
    </div>
            <!--</form>-->


            <!--</svg>&ndash;&gt;-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--</div>-->


    <!--<div class="left-panel" v-show="baseview == 'diff'">
        <textarea v-model="newjsoncon"></textarea>
        <div class="label">新 JSON</div>
    </div>-->

    <div class="splitx"></div>

    <div class="side-right">
        <div class="right-inner">
            <div class="right-main" v-show="baseview == 'formater' && view != 'error'">

                <div class="view-code" v-show="view == 'code'">
                    <vue-outer :jsondata="jsonhtml" isend="true"></vue-outer>
                </div>

                <div v-show="view == 'php'">
                    <pre><code v-html="php"></code></pre>
                </div>

                <div class="view-code" v-show="view == 'empty'">
                </div>

                <textarea v-show="view == 'compress'">{{compressStr}}</textarea>

                <textarea v-show="code == 'mysqli'" class="full-height">
<?php
$mysqli = new mysqli("localhost", "my_user", "my_password", "my_database");

/* check connection */
if ($mysqli->connect_errno) {
    printf("Connect failed: %s\n", $mysqli->connect_error);
    exit();
}

/* Select queries return a resultset */
$sql = "SELECT a, b FROM table LIMIT 10";

if ($result = $mysqli->query( $sql )) {
    printf("Select returned %d rows.\n", $result->num_rows);

    while ($myrow = $result->fetch_array(MYSQLI_ASSOC))
    {
        $a_value = $myrow["a"];
        $b_value = $myrow["b"];
        print 'a_value: '.$a_value.PHP_EOL;
        print 'b_value: '.$b_value.PHP_EOL;
    }

    /* free result set */
    $result->close();
}
$mysqli->close();
?>
                </textarea>
                <textarea v-show="code == 'curl-get'" class="full-height">
<?php
$api_url = "http://localhost:8080/get_test";
$ch = curl_init ();
curl_setopt ( $ch, CURLOPT_URL, $api_url );
curl_setopt ( $ch, CURLOPT_HEADER, 0 );
curl_setopt ( $ch, CURLOPT_RETURNTRANSFER, 1 );
curl_setopt ($ch, CURLOPT_HTTPHEADER, array("Expect:"));
$return = curl_exec ( $ch );
curl_close ( $ch );
var_dump($return);

                </textarea>


                    <textarea v-show="code == 'curl-post'" class="full-height">
<?php
$api_url = "http://localhost:8080/post_test";
$post_data = array(
    "type" => "publish",
    "content" => "post test",
);
$ch = curl_init ();
curl_setopt ( $ch, CURLOPT_URL, $api_url );
curl_setopt ( $ch, CURLOPT_POST, 1 );
curl_setopt ( $ch, CURLOPT_HEADER, 0 );
curl_setopt ( $ch, CURLOPT_RETURNTRANSFER, 1 );
curl_setopt ( $ch, CURLOPT_POSTFIELDS, $post_data );
curl_setopt ($ch, CURLOPT_HTTPHEADER, array("Expect:"));
$return = curl_exec ( $ch );
curl_close ( $ch );
var_dump($return);
                </textarea>



             <textarea v-show="code == 'curl-file'" class="full-height">
<?php
$file = "/temp/test.pdf";
$url = "http://localhost:8080/uri_for_accept_the_file";
$params['file'] = curl_file_create($file, mime_content_type($file),  $file );
$params['other_parames'] = "xxxx";
$ch = curl_init();
curl_setopt($ch, CURLOPT_URL, $url);
curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
curl_setopt($ch, CURLOPT_POST, 1);
curl_setopt($ch, CURLOPT_POSTFIELDS, $params);
$output = curl_exec($ch);
var_dump( $output );
curl_close($ch);
                </textarea>


            </div>


            <!--格式化错误视图-->
            <div class="view-error" v-show="view == 'error'">
                <pre v-cloak>{{error.msg}}</pre>
            </div>

            <!--diff视图-->
            <div id="diffoutput" v-show="baseview == 'diff' && view != 'error'">

            </div>
        </div>
    </div>
</div>

<!--用于移动的时候遮住文本域 避免被选中-->
<div class="widnow-cover">
</div>

<!--最外层根结构-->
<script type="text/x-template" id="outer-template">
    <ul class="json-item">
        <vue-val :val="jsondata" :isend="isend"></vue-val>
    </ul>
</script>


<!--内层每个键值对-->
<script type="text/x-template" id="item-template">
    <ul class="json-item">
        <vue-val :field="key" :val="val" :isend="index == objLength(jsondata) - 1"
                 v-for="(val, key, index) in jsondata"></vue-val>
    </ul>
</script>

<!--key value 最终的渲染方式-->
<script type="text/x-template" id="val-template">
    <div class="keyval">
        <template v-if="!isObjectArr(val)">
            <span class="key" v-show="field">"{{field}}": </span>
            <span v-bind:class="'val val-' + getTyp(val)">
            <span v-if="!isaLink(val)">{{formatVal(val)}}</span>
            <a v-if="isaLink(val)" :href="val" target="_blank" class="json-link">{{formatVal(val)}}</a>
            <span v-if="!isend">,</span>
          </span>
        </template>


        <!--key + 展开折叠ICON-->
        <template v-if="isObjectArr(val)">
            <span class="key" v-show="field">"{{field}}": </span>
            <vue-expand></vue-expand>
        </template>


        <!--值为对象时-->
        <template v-if="getTyp(val) == 'Object'">
          <span class="expand-view">
            <span>{</span>
            <vue-item :jsondata="val"></vue-item>
            <div class="brace-end">}<span v-if="!isend">,</span></div>
          </span>

            <span class="fold-view">{{getTyp(val)}}{<label class="ex-alia"
                                                           @click="expand($event)">{{objLength(val)}}</label>}<span
                    v-if="!isend">,</span></span>
        </template>


        <!--值为数组时-->
        <template v-if="getTyp(val) == 'Array'">
          <span class="expand-view">
            <span>[</span>
            <span class="val">
              <vue-outer :jsondata="sub" v-for="(sub, index) in val" :isend="index == val.length - 1"></vue-outer>
            </span> 
            <div class="brace-end">]<span v-if="!isend">,</span></div>
          </span>

            <span class="fold-view">{{getTyp(val)}}[<label class="arrlen ex-alia"
                                                           @click="expand($event)">{{val.length}}</label>]<span
                    v-if="!isend">,</span></span>

        </template>
    </div>
</script>


<!--展开 折叠的 UI 组件-->
<script type="text/x-template" id="expand-template">
    <span class="expand-wraper">
        <svg class="icon icon-square icon-square-min" @click="fold($event)" title="折叠">
          <use xlink:href="svg/icon.svg#minus-square"></use>
        </svg>

        <svg class="icon icon-square icon-square-plus" @click="expand($event)" title="展开">
          <use xlink:href="svg/icon.svg#plus-square"></use>
        </svg>
      </span>
</script>

<script src="js/jsonlint.js"></script>
<script src="js/parse.js"></script>
<script src="js/editor.js"></script>
<script src="js/diffview.js"></script>
<script src="js/difflib.js"></script>
<script src="js/localforage.min.js"></script>
<script src="js/encrypt.js"></script>
<script src="js/curl_to_php.js"></script>
<script src="js/main.js"></script>


<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?f8e33304c9cdf7ff0bd54bc540d0e000";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<style type="text/css">
    textarea {
        width: 90%;
        #margin: auto;
    }

    .button-secondary {
        color: white;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        background: rgb(66, 184, 221);
    }

</style>

</body>
</html>
